NODE_ENV=development
PORT=3000
APP_TIMEZONE=America/Bogota

DB_HOST=localhost
DB_PORT=5432
DB_NAME=control_acceso
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=change_me
JWT_EXPIRES_IN=8h

REDIS_HOST=localhost
REDIS_PORT=6379
